/* * {
   outline: 1px solid red !important;
} */
main {
   height: 100%;
   font-family: "Plus Jakarta Sans", sans-serif;
}
.container {
   margin: 0 auto;
   max-width: 1440px;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr auto;
}

.content {
   background-color: #f6f7f9;
   padding: 32px 64px 64px 64px;
}

/*banners*/
.banners {
   --_size: 30px;
   display: grid;
   grid-template:
      "banner1 banner1 banner1 . banner2 banner2 banner2" auto
      ". . . . . . ." var(--_size)
      "filter1 . submit submit submit . filter2" auto / 1fr var(--_size) calc(
         var(--_size) / 2
      )
      var(--_size) calc(var(--_size) / 2) var(--_size) 1fr;
   padding-bottom: 4px;
}

.banners {
   background-image: linear-gradient();
}

.banners article {
   --heightBtn: 44px;
   border: 1px solid #ccc;
   padding: 24px 24px 10px 24px;
   background-color: #54a6ff;
   border-radius: 10px;
   display: grid;
   grid-template:
      "title title title"
      "desc desc desc"
      "link . ." calc(var(--heightBtn) / 3 * 2)
      ". img .";
   grid-template-columns: auto 1fr 0.2fr;
   align-items: start;
   position: relative;
}
.banner1 {
   grid-area: banner1;
}
.banner2 {
   grid-area: banner2;
}
.filter1 {
   grid-area: filter1;
}
.filter2 {
   grid-area: filter2;
}
.btn_revers {
   grid-area: submit;
}
/* .banners article:nth-child(1) {
   grid-area: banner1;
   background: repeating-radial-gradient(
      circle,
      #5eabff,
      #5eabff,
      transparent 30px,
      transparent 60px
   );
   background-color: #54a6ff;
}
.banners article:nth-child(2) {
   grid-area: banner2;
}
 */
.title-card {
   grid-area: title;
   font-size: var(--fs600);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: -0.03em;
   color: #ffffff;
   max-width: 15ch;
}
.desc {
   grid-area: desc;
   font-size: var(--fs400);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: -0.02em;
   color: #ffffff;
   max-width: 30ch;
   padding: 16px 0 20px 0;
}
.rental-link {
   grid-area: link;
   font-size: var(--fs300);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: -0.02em;
   text-align: center;
   background-color: #3563e9;
   color: #ffffff;
   padding: 10px 22px;
   border-radius: 4px;
   white-space: nowrap;
}

.rental-link::before {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 10px;
   overflow: hidden;
}
.image {
   grid-area: img;
   display: flex;
   justify-content: center;
}
.image img {
   max-width: 100%;
   height: auto;
}
/*banners////*/

@media screen and (max-width: 1400px) {
   .banners {
      grid-template:
         ". . . . . . ." var(--_size)
         " banner1 banner1 banner1 . banner2 banner2 banner2" auto
         ". . . . . . ." var(--_size)
         "filter1 filter1 filter1 filter1 filter1 filter1 filter1" auto
         "filter1 filter1 filter1 filter1 filter1 filter1 filter1" calc(
            var(--_size) / 2
         )
         ". . submit submit submit . ." calc(var(--_size) / 2)
         ". . submit submit submit . ." var(--_size)
         ". . submit submit submit . ." calc(var(--_size) / 2)
         "filter2 filter2 filter2 filter2 filter2 filter2 filter2" calc(
            var(--_size) / 2
         )
         "filter2 filter2 filter2 filter2 filter2 filter2 filter2" auto / 1fr var(
            --_size
         )
         calc(var(--_size) / 2)
         var(--_size) calc(var(--_size) / 2) var(--_size) 1fr;
   }

   .filter1 {
      grid-row-start: 4;
      grid-row-end: 7;
   }
   .filter2 {
      grid-row-start: 8;
      grid-row-end: 11;
   }
   .btn_revers {
      grid-row-start: 5;
      grid-row-end: 10;
   }
}

@media screen and (max-width: 1000px) {
   .content {
      padding-top: 10px;
   }
   .banners {
      grid-template:
         ". . . . . . ." var(--_size)
         " banner1 banner1 banner1 banner1 banner1 banner1 banner1" auto
         ". . . . . . ." var(--_size)
         "filter1 filter1 filter1 filter1 filter1 filter1 filter1" auto
         "filter1 filter1 filter1 filter1 filter1 filter1 filter1" calc(
            var(--_size) / 2
         )
         ". . submit submit submit . ." calc(var(--_size) / 2)
         ". . submit submit submit . ." var(--_size)
         ". . submit submit submit . ." calc(var(--_size) / 2)
         "filter2 filter2 filter2 filter2 filter2 filter2 filter2" calc(
            var(--_size) / 2
         )
         "filter2 filter2 filter2 filter2 filter2 filter2 filter2" auto / 1fr var(
            --_size
         )
         calc(var(--_size) / 2)
         var(--_size) calc(var(--_size) / 2) var(--_size) 1fr;
   }
   .banner2 {
      display: none;
   }
}
@media screen and (max-width: 700px) {
   .content {
      background-color: #f6f7f9;
      padding: 0 24px 64px 24px;
   }
}
@media screen and (max-width: 450px) {
   .content {
      background-color: #f6f7f9;
      padding: 0;
   }
   .banner1 article {
      grid-area: art;
   }
   .banners {
      grid-template:
         "banner1  banner1  banner1 banner1 banner1 banner1 banner1 banner1 banner1" auto ". . . . . . . . ." var(
            --_size
         )
         ". filter1 filter1 filter1 filter1 filter1 filter1 filter1 ." auto ". filter1 filter1 filter1 filter1 filter1 filter1 filter1 ." calc(
            var(--_size) / 2
         )
         ". . . submit submit submit . . ." calc(var(--_size) / 2)
         ". . . submit submit submit . . ." var(--_size)
         ". . . submit submit submit . . ." calc(var(--_size) / 2)
         ". filter2 filter2 filter2 filter2 filter2 filter2 filter2 ." calc(
            var(--_size) / 2
         )
         ". filter2 filter2  filter2 filter2 filter2 filter2 filter2 ." auto / 24px 1fr var(
            --_size
         )
         calc(var(--_size) / 2) var(--_size) calc(var(--_size) / 2) var(--_size)
         1fr 24px;
   }

   .filter1 {
      grid-row-start: 3;
      grid-row-end: 6;
   }
   .filter2 {
      grid-row-start: 7;
      grid-row-end: 10;
   }
   .btn_revers {
      grid-row-start: 4;
      grid-row-end: 9;
   }

   .banner1 {
      background-image: linear-gradient(
         to bottom,
         #fff,
         #fff 50%,
         transparent 15%,
         transparent
      );
      display: grid;
      grid-template: ". art ." / 24px 1fr 24px;
   }

   .title-card {
      font-size: var(--fs500);
      max-width: none;
      white-space: wrap;
   }
}
@media screen and (max-width: 500px) {
   .banners article {
      grid-template:
         "title title title title title title"
         "desc desc desc desc desc desc"
         "link link link . . ."
         ". . . . . ." 26px
         ". img img img img ." / auto auto auto 1fr 1fr 1fr;
   }
}
/*category*/

.category-name,
.showAll {
   font-size: var(--fs400);
   font-weight: 600;
   line-height: 20px;
   color: #90a3bf;
   padding: 10px 20px;
}
.showAll {
   color: #3563e9;
}

.invisible {
   position: fixed;
   left: 100%;
}
/*category///*/

/*products*/
.products {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas: "category" "products" "showMore";
   grid-template-rows: auto 1fr;
   gap: 20px;
   padding-top: 32px;
}

.products__category {
   grid-area: category;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.products__container {
   grid-area: products;
   display: grid;
   gap: 32px;
   grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
   grid-template-rows: 1fr;
   align-self: start;
}
.products__container li {
   align-self: start;
}
/*products*/

/*showMore*/
.showMore {
   grid-area: showMore;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 44px;
   position: relative;
}

.showMore-btn {
   padding: 10px 20px;
   background-color: #3563e9;
   color: #ffffff;
   font-size: var(--fs300);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: -0.02em;
   border-radius: 5px;
}

.car-count {
   position: absolute;
   content: "";
   right: 0;
   bottom: 0;
   transform: translateY(-50%);
   font-size: 14px;
   font-weight: 500;
   line-height: 21px;
   letter-spacing: -0.02em;
   text-align: right;
   color: #90a3bf;
}

@media screen and (max-width: 760px) {
   .recom-product {
      display: grid;
      grid-template: "form1 form1 form1" "img1 . info1" "bottom1 bottom1 bottom1" /1fr 50px auto;
   }
   .recom-top {
      grid-area: form1;
   }
   .recom-image {
      grid-area: img1;
   }
   .recom-info {
      flex-direction: column;
      justify-content: center;
      grid-area: info1;
   }
   .recom-bottom {
      grid-area: bottom1;
   }
}
@media screen and (max-width: 450px) {
   .category-name {
      padding: 0 0 7px 0;
   }
   .popular-category {
      padding: 24px 0 7px 24px;
   }
   .product2 {
      padding: 32px 24px 24px 24px;
   }
   .showMore {
      padding-top: 28px;
   }
   .showMore-btn {
      padding: 10px 16px;
      font-weight: 600;
   }

   .product__rental {
      font-weight: 600;
   }

   .car-count {
      font-weight: 700;
      line-height: 17px;
   }

   .horizontal_media_scroller {
      display: grid;
      grid-auto-flow: column;
      gap: 20px;
      padding: 0 24px;
      overflow-x: auto;
      overscroll-behavior-inline: contain;
      scroll-snap-type: inline mandatory;
      scroll-padding-inline: 20px;
      background-image: 
    /* Shadows */
         linear-gradient(to right, #f6f7f9, #f6f7f9),
         linear-gradient(to right, #f6f7f9, #f6f7f9),
         /* Shadow covers */
            linear-gradient(
               to right,
               rgba(0, 0, 0, 0.25),
               rgba(255, 255, 255, 0)
            ),
         linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));

      background-position:
         left center,
         right center,
         left center,
         right center;
      background-repeat: no-repeat;
      background-color: #f6f7f9;
      background-size:
         20px 100%,
         20px 100%,
         10px 100%,
         10px 100%;

      /* Opera doesn't support this in the shorthand */
      background-attachment: local, local, scroll, scroll;
   }


   .horizontal_media_scroller > * {
      scroll-snap-align: start;
   }
}

/*showMore////*/
