main {
   height: 100%;
   font-family: "Plus Jakarta Sans", sans-serif;
}
.container {
   margin: 0 auto;
   max-width: 2000px;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr auto;
}
/*header*/
header {
   background-color: #ffffff;
   padding: 40px 32px 40px 60px;
   display: grid;
   gap: 64px;
   grid-template-columns: auto 1fr auto;
   grid-template-areas: "logo form profile";
}

.logo {
   grid-area: logo;
   display: flex;
   align-items: center;
}
.form {
   grid-area: form;
}
.form-container {
   display: grid;
   max-width: 492px;
   grid-template-columns: auto 1fr auto;
   grid-template-areas: "loop input filter";
   align-items: center;
   border: 1px solid #ccc;
   border-radius: 25px;
}
.loop,
.form-filter {
   padding: 8px 20px;
}

.search {
   padding: 12px 0;
   width: 100%;
   font-size: 14px;
   font-weight: 500;
   line-height: 21px;
   letter-spacing: -0.02em;
}
.profile {
   grid-area: profile;
   display: flex;
   align-items: center;
   gap: 20px;
}

.profile-items {
   display: flex;
   align-items: center;
   gap: 20px;
}

.profile-items a,
.avatar {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   border: 1px solid #ecf1f8;
}
.avatar {
   border: none;
}
/*header///*/
/*footer*/
footer {
   padding: 80px 60px 60px 60px;
   background-color: #ffffff;
}

.top {
   display: grid;
   grid-template-areas: "info nav";
   grid-template-columns: 292px auto;
   justify-content: space-between;
   border-bottom: 1px solid#d9d9d9;
   padding-bottom: 36px;
}
.bottom {
   display: grid;
   grid-template-areas: "copr polc";
   grid-template-columns: auto auto;
   justify-content: space-between;
   padding-top: 36px;
}
.information {
   grid-area: info;
}
.nav {
   display: grid;
   grid-area: nav;
   gap: 60px;
   grid-template-columns: repeat(3, 152px);
}
.nav section {
   display: grid;
   grid-template-columns: auto;
}

.text {
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.02em;
   color: #717171;
   padding-top: 16px;
}
.link {
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.02em;
   color: #717171;
   padding: 7px 0;
}

.title {
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
   letter-spacing: -0.02em;
   padding-bottom: 24px;
}
.copyright {
   grid-area: copr;
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
   letter-spacing: -0.02em;
   color: #1a202c;
}
.policy {
   grid-area: polc;
   display: flex;
   gap: 60px;
   color: #1a202c;
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
   letter-spacing: -0.02em;
}

@media screen and (max-width: 1000px) {
   .top {
      display: grid;
      grid-template-areas: "info" "nav";
   }
   .bottom {
      display: grid;
      grid-template-areas: "polc" "copr";
   }
}
/*footer///*/

.content {
   background-color: #f6f7f9;
   padding: 32px 64px 64px 64px;
}

/*advertisement*/
.advertisement {
   display: grid;

   grid-template-areas: "one two";
   gap: 32px;
}

.advertisement article {
   border: 1px solid #ccc;
   padding: 24px 24px 0 24px;
   background-color: #54a6ff;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
}
.advertisement article:nth-child(1) {
   grid-area: one;
   background: repeating-radial-gradient(
      circle,
      #5eabff,
      #5eabff,
      transparent 30px,
      transparent 60px
   );
   background-color: #54a6ff;
}
.advertisement article:nth-child(2) {
   grid-area: two;
}

.title-card {
   font-size: 32px;
   font-weight: 500;
   line-height: 48px;
   letter-spacing: -0.03em;
   color: #ffffff;
   max-width: 274px;
}
.desc {
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.02em;
   color: #ffffff;
   max-width: 284px;
   padding: 16px 0 20px 0;
}
.gaper {
   display: flex;
   align-items: start;
}
.rental-link {
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.02em;
   text-align: center;
   background-color: #3563e9;
   color: #ffffff;
   padding: 10px 22px;
   border-radius: 4px;
   white-space: nowrap;
}
.image {
   transform: translateX(-7px);
   padding-top: 33px;
   align-self: flex-end;
}
.image img {
   max-width: 100%;
   height: auto;
}
/*advertisement////*/

/*filters*/
.filter-container {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   align-items: center;
   grid-template-areas: filter1 btn filter2;
   gap: 44px;
   padding-block: 32px 36px;
}
.filter {
   padding: 24px 48px;
   background-color: #ffffff;
   border-radius: 10px;
   max-width: 582px;
}
.filter label {
   display: inline-flex;
   align-items: center;
   gap: 8px;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.02em;
   cursor: pointer;
}

.filter label input[type="radio"] {
   display: none;
}

.filter label:before {
   content: "";
   display: block;
   width: 16px;
   height: 16px;
   box-sizing: border-box;
   background-color: #fff;
   border-radius: 50%;
   border: 4px solid #c2d0f8;
}

/* Checked */
.filter label:has(input[type="radio"]:checked)::before {
   background-color: #3563e9;
}

/* Hover */
.filter label:hover:before {
   background-color: #54a6ff;
}
.filter-list {
   display: flex;
   align-items: center;
   padding-top: 12px;
}
.filter-list li {
   padding-right: 24px;
   padding-left: 24px;
   border-right: 1px solid #e7eef6;
   border-left: 1px solid #e7eef6;
}
.filter-list li:first-child {
   padding-left: 0;
   border: 0;
}
.filter-list li:last-child {
   padding-right: 0;
   border: 0;
}

.filter-title {
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: -0.02em;
   color: #1a202c;
   padding-bottom: 8px;
}
.filter-subtitle {
   display: flex;
   align-items: center;
   gap: 25px;
   background-color: transparent;
}
.filter-subtitle > span {
   font-size: 12px;
   white-space: nowrap;
   font-weight: 500;
   line-height: 15px;
   color: #90a3bf;
}

.btn-revers {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 18px;
   background-color: #3563e9;
   border-radius: 10px;
}
/*filters///////*/

/*category*/
.category {
   display: flex;
   justify-content: space-between;
   padding-bottom: 20px;
}
.category-name,
.showAll {
   font-size: 16px;
   font-weight: 600;
   line-height: 20px;
   color: #90a3bf;
}
.showAll {
   color: #3563e9;
}

.invisible {
   position: fixed;
   left: 100%;
}
/*category///*/

/*products*/
.products {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 32px;
   padding-bottom: 32px;
}
.product {
   background-color: #717171;
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   border-radius: 10px;
   padding: 24px;
}

.product__name {
   font-size: 20px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: -0.03em;
   color: #1a202c;
}

.product__category {
   font-size: 14px;
   font-weight: 700;
   line-height: 21px;
   letter-spacing: -0.02em;
   color: #90a3bf;
}

.product__top {
   display: grid;
   grid-template-columns: 1fr auto;
}

.product__image {
   padding-block: 64px;
}
.product__image img {
   max-width: 100%;
   height: auto;
}
.product__image > div {
   position: relative;
}
.product__image > div::before {
   position: absolute;
   content: "";
   bottom: 0;
   left: 0;
   right: 0;
   height: 68px;
   transform: translateY(40%);
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.product__info {
   display: flex;
   justify-content: space-between;
   gap: 16px;
   padding-bottom: 24px;
}
.product__info li {
   display: flex;
   align-items: center;
   gap: 6px;
}
.info-title {
   font-size: 14px;
   font-weight: 500;
   line-height: 21px;
   letter-spacing: -0.02em;
   white-space: nowrap;
   color: #90a3bf;
}
.product__bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 24px;
}
.product__price {
   display: flex;
   flex-direction: column;
}
.product__price b {
   font-size: 20px;
   font-weight: 700;
   line-height: 25px;
   color: #1a202c;
}

.product__price small {
   font-size: 14px;
   font-weight: 700;
   line-height: 18px;
   color: #90a3bf;
}
.product__price .old-price {
   text-decoration: line-through;
   font-size: 14px;
   font-weight: 700;
   line-height: 18px;
   color: #90a3bf;
   padding-top: 4px;
}
.product__rental {
   padding: 10px 20px;
   background-color: #3563e9;
   color: #ffffff;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.02em;
   border-radius: 5px;
}
/*products/////*/

/*showMore*/
.showMore {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 32px;
   position: relative;
}

.showMore-btn {
   padding: 10px 20px;
   background-color: #3563e9;
   color: #ffffff;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.02em;
   border-radius: 5px;
}

.car-count {
   position: absolute;
   content: "";
   right: 0;
   bottom: 0;
   transform: translateY(-50%);
   font-size: 14px;
   font-weight: 500;
   line-height: 21px;
   letter-spacing: -0.02em;
   text-align: right;
   color: #90a3bf;
}

/*showMore////*/
