#image-container {
    margin-bottom: 20px;
}

#image-container img {
    inline-size: 100%;
    aspect-ratio: 4/3;
    border-radius: 10px;
    max-width: 500px;
}
#thumbnails{
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, 148px));
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

#thumbnails img{
    inline-size: 100%;
    aspect-ratio: 4/3;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s, border 0.3s, padding 0.3s;
    box-sizing: border-box;
}
.selectedThumbnail {
    border: 2px solid #3563E9;
    padding: 5px;
    
  }
  

@media screen and (max-width: 1240px) {
    #image-container {
        display: flex;
        justify-content: center;
    }
    #thumbnails{
        justify-content: center;
    }
}