/*products*/
.products {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas: "category" "products" "showMore";
   grid-template-rows: auto 1fr;
   gap: 20px;
   padding-top: 32px;
}

.products__category {
   grid-area: category;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.products__container {
   grid-area: products;
   display: grid;
   gap: 32px;
   grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
   grid-template-rows: 1fr;
   align-self: start;
}
.products__container li {
   align-self: start;
}
.product {
   background-color: #ffffff;
   border-radius: 10px;
   padding: 24px;
}

.product__name {
   font-size: var(--fs500);
   font-weight: 700;
   line-height: 1.5;
   letter-spacing: -0.03em;
   color: #1a202c;
}

.product__category {
   font-size: var(--fs300);
   font-weight: 700;
   line-height: 1.5;
   letter-spacing: -0.02em;
   color: #90a3bf;
}

.product__top {
   display: grid;
   grid-template-columns: 1fr auto;
}
.product__favourites {
   display: flex;
   align-items: center;
   width: 24px;
   height: 24px;
   background: url("/public/heart-gray.svg");
}

.product__favourites.like {
   background: url("/public/heart-red.svg");
}

.product__image {
   padding-block: 64px;
}
.product__image img {
   max-width: 100%;
   height: auto;
}
.product__image > div {
   position: relative;
   display: flex;
   justify-content: center;
}
.product__image > div::before {
   position: absolute;
   content: "";
   bottom: 0;
   left: 0;
   right: 0;
   height: 68px;
   transform: translateY(40%);
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.product__info {
   display: flex;
   justify-content: space-between;
   gap: 16px;
   padding-bottom: 24px;
}
.product__info div {
   display: flex;
   align-items: center;
   gap: 6px;
}
.info__title {
   font-size: var(--fs300);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: -0.02em;
   white-space: nowrap;
   color: #90a3bf;
}
.info__title abbr {
   text-decoration: none;
}
.product__bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 24px;
}
.product__price {
   display: flex;
   flex-direction: column;
}
.product__price b {
   font-size: var(--fs500);
   font-weight: 700;
   line-height: 1.5;
   color: #1a202c;
   letter-spacing: -0.01em;
}

.product__price small {
   font-size: var(--fs300);
   font-weight: 700;
   line-height: 1.3;
   color: #90a3bf;
}
.product__price .old_price {
   font-size: var(--fs300);
   font-weight: 700;
   line-height: 1.3;
   color: #90a3bf;
   padding-top: 4px;
}
.product__rental {
   padding: 10px 20px;
   background-color: #3563e9;
   color: #ffffff;
   font-size: var(--fs300);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: -0.02em;
   border-radius: 5px;
}
/*products/////*/

@media screen and (max-width: 450px) {
   .product__rental {
      font-weight: 600;
   }
}
