.invisible {
   position: fixed;
   left: 100%;
}

/*header*/
header {
   background-color: #ffffff;
   padding: 40px 32px 40px 60px;
   display: grid;
   gap: 64px;
   grid-template-columns: auto minmax(200px, 498px) 1fr auto;
   grid-template-areas: "logo form . profile";
}

.logo {
   grid-area: logo;
   display: flex;
   align-items: center;
}
.logo a {
   display: flex;
   align-items: center;
}
.form {
   grid-area: form;
   display: grid;
   grid-template-columns: 1fr auto;
   border: 1px solid #e7eef6;
   border-radius: 25px;
}

.form label {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
}

.form__filter {
   padding: 10px 20px;
   border-radius: 0 25px 25px 0;
   background-color: transparent;
}

.loop {
   padding: 10px 20px;
   border-radius: inherit;
   background-color: transparent;
}

.search {
   border-radius: inherit;
   padding: 12px 0;
   width: 100%;
   font-size: var(--fs400);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: -0.02em;
}
.profile {
   grid-area: profile;
   display: flex;
   align-items: center;
   gap: 20px;
}

.profile a,
.avatar {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   border: 1px solid #ecf1f8;
}
.avatar {
   border: none;
}

a.notifications {
   position: relative;
}

a.notifications::after {
   position: absolute;
   top: 0;
   right: 2px;
   content: "";
   display: block;
   width: 11px;
   height: 11px;
   border-radius: 50%;
   background-color: #ff4423;
}

@media screen and (max-width: 930px) {
   header {
      gap: unset;
      grid-template:
         "logo . profile"
         " . . ." 32px
         "form form form" / auto 1fr auto;
   }
}
@media screen and (max-width: 700px) {
   header {
      padding-bottom: 30px;
   }
}
@media screen and (max-width: 550px) {
   .profile li a:not(.avatar) {
      display: none;
   }
   .profile {
      gap: unset;
   }
}
@media screen and (max-width: 450px) {
   header {
      padding: 32px 24px;
   }
   .form {
      border: none;
      gap: 16px;
   }

   .form label {
      border: 1px solid #e7eef6;
      border-radius: 10px;
   }
   .form-filter {
      aspect-ratio: 1 /1;
      padding: 12px;
      border: 1px solid #e7eef6;
      border-radius: 10px;
   }
}

/*header///*/
