/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
* {
   padding: 0;
   margin: 0;
}
html,
body {
   height: 100%;
}

a {
   text-decoration: none;
}
input,
button {
   border: 0;
   outline: 0;
}
button {
   cursor: pointer;
}

ul,
menu {
   list-style-type: none;
}
